* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw; 
    text-align: center;
    background-image: url(sky1.jpg);
}

#begin {
    padding: 40px;
    text-align: center;
    color: rgb(204, 0, 255);
}

#begin p {
    margin: 0 auto;
}

 p {
    color: violet;
    font-size: 20px;
    font-weight: bolder;
    width: 50vw;
}
#user-options {
    width: 60%;
    margin: 0 auto;
}

.choiceButton {
    background: transparent;
    color:rgb(49, 0, 61);
    margin: 6px;
    display:list-item;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#each-question {
    color:rgb(49, 0, 61);
    font-weight: bold;
}

#game {
    width: 100%;
}

#start {
    background-color: #8700f5;
    border: 5px;
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.hide, #end {
    display: none;
}

#score {
    background-color:rgb(49, 0, 61);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.timeEl, #right {
color:rgb(89, 10, 109);
  transition: 1s linear all;
}

#finished-game {
    padding: 40px;
    text-align: center;
    color:rgb(89, 10, 109);
}

.inputInitials, #restart, #highscores {
    color:rgb(49, 0, 61);
    background-color: rgb(245, 205, 255);
    margin: 6px;
    border: none;
    border-radius: 3px;
}